# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Dependendes
*.d

# Coverage
*.gcda
*.gcno
/coverage.info
/coverage.out.html/

# mklove
/Makefile.config
/config.cache
/config.h
/config.log
/config.log.old
/vendor/

# Tests
/tests/*.xml
/tests/coverage.info
/tests/out
/tests/key.pem
/tests/key.encrypted.pem
/tests/certificate.pem
/tests/client-certificate-?.pem
/tests/client-key-?.pem
__pycache__
.pytest_cache/
/n2k_config_*
/n2k_topic_*
/n2k_htpasswd_*


# Docker
/docker/devel/

# Binary
/n2kafka

# Clang complete tools
/.clang_complete

# Editors garbage
*~
